In [1]:
type (1)

int

In [2]:
type (1.0)

float

In [3]:
'this is some text'

'this is some text'

In [4]:
this is text

NameError: name 'this' is not defined

In [5]:
"text"

'text'

In [6]:
"There's some text"

"There's some text"

In [10]:
print ('''I can type text
sssssss
sssssss''' )

I can type text
sssssss
sssssss

In [11]:
True

True

In [12]:
a = 1

In [13]:
print (a)

1

In [14]:
a + 3

4

In [15]:
a = a + 4

In [16]:
print (a)

5

In [18]:
b = 'text'

In [19]:
print (b)

text

In [20]:
b + 1

TypeError: Can't convert 'int' object to str implicitly

In [21]:
c = 'more text'

In [22]:
b + c

'textmore text'

In [23]:
d = b + c

In [24]:
print (d)

textmore text

In [25]:
(1,2,'text',3)

(1, 2, 'text', 3)

In [36]:
mylist = [1, 2, 'text', 3, 4, 5]

In [37]:
print (mylist)

[1, 2, 'text', 3, 4, 5]

In [39]:
mylist.append(100)

In [40]:
mylist

[1, 2, 'text', 3, 4, 5, 100, 100]

In [41]:
myitems = ['first item', 'second item', 'thirs item']

In [43]:
myitems [0]

'first item'

In [44]:
g = [1, 2, [1,3]]

In [45]:
g[0]

1

In [46]:
g[2]

[1, 3]

In [47]:
g[2]

[1, 3]

In [48]:
g[2][1]

3

In [49]:
world_capitals = {
    'Netherlands' : 'Amsterdam',
    'Germany' : 'Berlin',
    'Italy' : 'Rome'
}

In [51]:
world_capitals['Italy']

'Rome'

In [55]:
world_capitals ['Brazil'] = 'Brasilia'

In [56]:
world_capitals

{'Brazil': 'Brasilia',
 'Germany': 'Berlin',
 'Italy': 'Rome',
 'Netherlands': 'Amsterdam'}

**Practise Assignment: Remove Items from list**

In [58]:
mylist = [5, 6, 7, 8]

In [63]:
mylist.remove (6)

In [64]:
mylist

[5, 7, 8]

**Practice Assignment: Remove items from dictionary**

In [66]:
del world_capitals ['Germany']

In [67]:
world_capitals

{'Brazil': 'Brasilia', 'Italy': 'Rome', 'Netherlands': 'Amsterdam'}

**Practice Assignment: Playing with strings**

In [68]:
allupper = 'THIS TEXT IS IN UPPERCASE!!!'

In [69]:
print (allupper)

THIS TEXT IS IN UPPERCASE!!!

In [76]:
lower = allupper.lower

In [75]:
allupper

'THIS TEXT IS IN UPPERCASE!!!'

In [77]:
allupper.lower

In [80]:
print (allupper.lower)

<built-in method lower of str object at 0x000001735E1C21C0>

In [81]:
'allupper'.lower

In [84]:
allupper = allupper.lower

In [85]:
allupper

In [86]:
allupper

*I have problems with tranforming to lower case*

** Practice Assignment convert string to list of words**

In [87]:
sentence = '''I hope I will understand it. 
How to make this a list of words '''

In [88]:
print (sentence)

I hope I will understand it.
How to make this a list of words

In [91]:
sentence.split()

['I',
 'hope',
 'I',
 'will',
 'understand',
 'it.',
 'How',
 'to',
 'make',
 'this',
 'a',
 'list',
 'of',
 'words']

** Practice Assignment Organizing Data**

In [105]:
t = [[21,32], 1940, 'three']

In [102]:
Names = { 'JH' : 'Johan Smit',
        'MS' : 'Mary Smith',
         'TB' : 'Tom Brokah',
        'UVA' : 'University of Amsterdam',
         'SUK' : 'Salesforce UK',
         'USJ' : 'US journalist'
}

In [104]:
a = 'is'

In [117]:
Names ['JH'], a, t[0][1], 'years old an analist at', Names ['SUK'],

('Johan Smit', 'is', 32, 'years old an analist at', 'Salesforce UK')

In [119]:
'and is father to a young boy. He is divorced', Names ['MS'], a, t[0][0], 'years old'

('and is father to a young boy. He is divorced',
 'Mary Smith',
 'is',
 21,
 'years old')

In [121]:
'currently studies at', Names ['UVA'],'and was born in the US'

('currently studies at', 'University of Amsterdam', 'and was born in the US')

In [123]:
Names ['TB'], a, 'a', Names ['USJ'], ', born in', t[1], 'married with', t[2], 'children'

('Tom Brokah',
 'is',
 'a',
 'US journalist',
 ', born in',
 1940,
 'married with',
 'three',
 'children')