**Conditions - to test if something is happening or not**

In [8]:
a = 1

In [9]:
if a == 1:
    print ('a is 1!')

a is 1!

In [10]:
if a == 2:
    print ('a is 2!')
else:
    print ('a is not 2!')

a is not 2!

In [12]:
mylist = [1, 2, 3]

if 3 in mylist:
    print ("there is a 3 in my list")
    print ("my list has", len(mylist), "items")
    
else: 
    print ("there is no 3 in my list")

there is a 3 in my list
my list has 3 items

In [13]:
if 4 in mylist:
    print ("there is a 4 in my list")
    print ("my list has", len(mylist), "items")
    
else: 
    print ("there is no 4 in my list")

there is no 4 in my list

In [18]:
a = 0
b = 0

if a > b:
    print ('a > b')
elif a < b:
    print ('a < b')
elif a == b:
    print ('a == b')

a < b

In [20]:
a = 0
b = 0

if a == b:
    print ('a == b')
if a == 0:
    print ('a == 0')

a == b
a == 0

*when you only do if - elif --> it will first only check the if, when this is already true it will not check the elif.*

*when you do if - if --> it will check both the conditions*

**Loops: do something continiously, until condition is met**

In [22]:
counter = 0 
while counter < 10:
    print ('counter at', counter)
    counter += 1
    
print ('counter finished at', counter)

counter at 0
counter at 1
counter at 2
counter at 3
counter at 4
counter at 5
counter at 6
counter at 7
counter at 8
counter at 9
counter finished at 10

In [24]:
mylist = [1,2,3,4,5,6,7,8,9,10]

for item in mylist:
    print (item)

1
2
3
4
5
6
7
8
9
10

*first with counter: while: repeat code until condition is met
second with mylist: for: loop element of list until there are no elements anymore.*

In [31]:
for l in 'this is a sentence!' : 
    print (l)

t
h
i
s

i
s

a

s
e
n
t
e
n
c
e
!

** Function: repeat a activity multiple times**

In [32]:
def add_one (number):
    number = number + 1
    return number

In [33]:
add_one(3)

4

In [34]:
add_one(-1)

0

*Function combining with loop*

In [35]:
mylist = [1,2,3,4,5,6]

In [36]:
for item in mylist:
    print (add_one (item))

2
3
4
5
6
7

In [37]:
mylist

[1, 2, 3, 4, 5, 6]

In [38]:
mydata = [1,2,5,3,4,1,2,3,4,23,4,5,6,'hoi',1,2,3,'doei']

In [39]:
len(mydata)

18

In [40]:
type(1)

int

In [41]:
type(2.5)

float

In [42]:
type ('hoi')

str

In [43]:
def check_number (item):
    if type(item) == str: 
        return 99
    else: 
        return item

In [44]:
check_number (2.5)

2.5

check_number ('hoi')

In [51]:
clean_list = []

In [52]:
for item in mydata:
    new_item  = check_number (item)
    clean_list.append(new_item)

In [56]:
clean_list

[1, 2, 5, 3, 4, 1, 2, 3, 4, 23, 4, 5, 6, 99, 1, 2, 3, 99]

In [54]:
mydata

[1, 2, 5, 3, 4, 1, 2, 3, 4, 23, 4, 5, 6, 'hoi', 1, 2, 3, 'doei']

*checked what type of elements there were (strings or float or interval)
made a function to change string in 99*

## Assignment: Create a function that test if an element is a number or a string. If it is a number you should return value divided by two. If its a string it should return to lenght of string ##

*make a list with numbers and strings*

In [82]:
mylist = [1, 1.3 ,6, 23, 5, 4,'woord', 7, 45, 3,'woordje', 3,'woorden']

*create function to test if it is number or string*

In [125]:
def check_number (item):
    if type(item) == float: 
        return item/2
    if type(item) == int:
        return item/2
    if type(item) == str:
        return len(item)

In [126]:
check_number ('woord')

5

In [129]:
check_number (1.3)

0.65

In [130]:
check_number (6)

3.0

## Assignment 2:##
**Table: dataset customer ID, ages, name of website, clicks
3 things:**

1. Move this table to a data structure (list, dictionary, lists of lists)
2. Create a function that categorizes the website type
3. Create a function that categorizes customers according to age groups.

In [131]:
mylist = [19,25,41,37,64,50,18,55]

In [155]:
def age_group (item):
    if item < 40: 
        return 1
    if item > 40:
        return 2

In [157]:
age_group (50)

2

In [158]:
age_group (25)

1

**Now I have divided age into 2 groups, below 40 =1 and above 40 = 2 !**

In [170]:
website_types = {
    'NBC': 'news',
    'New York Times': 'news',
    'Facebook' : 'entertaining',
    'Twitter' : 'entertaining',
    'BuzzFeed' : 'entertaining',
    'CBS' : 'news',
    'The Guardian' : 'news',
    'Google News' : 'news'
}

In [172]:
website_types ['New York Times']

'news'

**Now I have categorized the website types, news versus entertaining**

In [173]:
mylist = [1,2,3,4,5,6,7,8]

In [174]:
mylist = [1,0,0,1,1,0,0,1]

In [179]:
mylist

[1, 0, 0, 1, 1, 0, 0, 1]